:root {
    --AccentLines: #2b88d8;
    --AccentText: #0078d4;
    --BackgroundOverlay: rgba(255, 255, 255, 0.85);
    --BodyText: #333333;
    --ButtonBackground: #f8f8f8;
    --ButtonBorder: #a6a6a6;
    --ButtonDisabledBackground: #f8f8f8;
    --ButtonDisabledBorder: #eaeaea;
    --ButtonDisabledText: #a6a6a6;
    --ButtonGlyph: #666666;
    --ButtonGlyphActive: #333333;
    --ButtonGlyphDisabled: #c8c8c8;
    --ButtonHoverBackground: #deecf9;
    --ButtonHoverBorder: #c7e0f4;
    --ButtonPressedBackground: #c7e0f4;
    --ButtonPressedBorder: #2b88d8;
    --ButtonText: #333333;
    --CommandLinks: #666666;
    --CommandLinksDisabled: #a6a6a6;
    --CommandLinksHover: #0078d4;
    --CommandLinksPressed: #004578;
    --CommandLinksSecondary: #212121;
    --ContentAccent1: #0078d4;
    --ContentAccent2: #00485b;
    --ContentAccent3: #288054;
    --ContentAccent4: #767956;
    --ContentAccent5: #ed0033;
    --ContentAccent6: #682a7a;
    --DialogBorder: #f4f4f4;
    --DisabledBackground: #f8f8f8;
    --DisabledLines: #eaeaea;
    --DisabledText: #a6a6a6;
    --EmphasisBackground: #0078d4;
    --EmphasisBorder: #005a9e;
    --EmphasisHoverBackground: #005a9e;
    --EmphasisHoverBorder: #004578;
    --EmphasisText: #ffffff;
    --FooterBackground: rgba(255, 255, 255, 0.85);
    --HeaderAccentLines: #2b88d8;
    --HeaderBackground: rgba(255, 255, 255, 0.85);
    --HeaderDisableText: #a6a6a6;
    --HeaderDisabledBackground: #f8f8f8;
    --HeaderDisabledLines: #eaeaea;
    --HeaderLines: #a6a6a6;
    --HeaderNavigationHoverText: #0078d4;
    --HeaderNavigationPressedText: #004578;
    --HeaderNavigationSelectedText: #0078d4;
    --HeaderNavigationText: #666666;
    --HeaderSiteTitle: #212121;
    --HeaderStrongLines: #c7e0f4;
    --HeaderSubtleLines: #c8c8c8;
    --HeaderText: #333333;
    --HoverBackground: rgba(222, 236, 249, 0.50);
    --Hyperlink: #0078d4;
    --HyperlinkActive: #004578;
    --Hyperlinkfollowed: #004578;
    --Lines: #a6a6a6;
    --Navigation: #666666;
    --NavigationAccent: #0078d4;
    --NavigationHover: #0078d4;
    --NavigationHoverBackground: rgba(222, 236, 249, 0.50);
    --NavigationPressed: #004578;
    --NavigationSelectedBackground: rgba(234, 234, 234, 0.78);
    --PageBackground: #ffffff;
    --RowAccent: #0078d4;
    --SelectionBackground: rgba(199, 224, 244, 0.50);
    --SiteTitle: #212121;
    --StrongBodyText: #212121;
    --StrongLines: #c7e0f4;
    --SubtleEmphasisBackground: #f4f4f4;
    --SubtleEmphasisCommandLinks: #212121;
    --SubtleEmphasisText: #666666;
    --SubtleLines: #c8c8c8;
    --SuiteBarBackground: #0078d4;
    --SuiteBarDisabledText: #eaeaea;
    --SuiteBarHoverBackground: #71afe5;
    --SuiteBarHoverText: #c7e0f4;
    --SuiteBarText: #ffffff;
    --TileBackgroundOverlay: rgba(0, 0, 0, 0.50);
    --TileText: #ffffff;
    --TopBarBackground: rgba(234, 234, 234, 0.78);
    --TopBarHoverText: #333333;
    --TopBarPressedText: #004578;
    --TopBarText: #666666;
    --WebPartHeading: #333333;
    --accent: #8764b8;
    --accentButtonBackground: #8764b8;
    --accentButtonText: #ffffff;
    --actionLink: #333333;
    --actionLinkHovered: #212121;
    --backgroundOverlay: rgba(255, 255, 255, 0.85);
    --black: #000000;
    --blackTranslucent40: rgba(0,0,0,.4);
    --blockingBackground: rgba(234, 67, 0, .2);
    --blue: #0078d4;
    --blueDark: #002050;
    --blueLight: #00bcf2;
    --blueMid: #00188f;
    --bodyBackground: #f2f9fc;
    --bodyDivider: #eaeaea;
    --bodyFrameBackground: #ffffff;
    --bodyFrameDivider: #eaeaea;
    --bodyStandoutBackground: #f8f8f8;
    --bodySubtext: #666666;
    --bodyText: #333333;
    --bodyTextChecked: #000000;
    --buttonBackground: #f4f4f4;
    --buttonBackgroundChecked: #c8c8c8;
    --buttonBackgroundCheckedHovered: #eaeaea;
    --buttonBackgroundDisabled: #f4f4f4;
    --buttonBackgroundHovered: #eaeaea;
    --buttonBackgroundPressed: #eaeaea;
    --buttonBorder: transparent;
    --buttonBorderDisabled: transparent;
    --buttonText: #333333;
    --buttonTextChecked: #212121;
    --buttonTextCheckedHovered: #000000;
    --buttonTextDisabled: #a6a6a6;
    --buttonTextHovered: #212121;
    --buttonTextPressed: #212121;
    --defaultStateBackground: #f8f8f8;
    --dialogBorder: #f4f4f4;
    --disabledBackground: #f4f4f4;
    --disabledBodySubtext: #c8c8c8;
    --disabledBodyText: #a6a6a6;
    --disabledSubtext: #d0d0d0;
    --disabledText: #a6a6a6;
    --elevation16: 0 0 5px 0 rgba(0,0,0,.4);
    --elevation4: 0 0 5px 0 rgba(0,0,0,.4);
    --elevation64: 0 0 5px 0 rgba(0,0,0,.4);
    --elevation8: 0 0 5px 0 rgba(0,0,0,.4);
    --errorBackground: rgba(232, 17, 35, .2);
    --errorText: #a80000;
    --focusBorder: #666666;
    --green: #107c10;
    --greenDark: #004b1c;
    --greenLight: #bad80a;
    --inputBackground: #ffffff;
    --inputBackgroundChecked: #0078d4;
    --inputBackgroundCheckedHovered: #106ebe;
    --inputBorder: #a6a6a6;
    --inputBorderHovered: #333333;
    --inputFocusBorderAlt: #0078d4;
    --inputForegroundChecked: #ffffff;
    --inputPlaceholderText: #666666;
    --inputText: #333333;
    --inputTextHovered: #212121;
    --link: #0078d4;
    --linkHovered: #004578;
    --listBackground: #ffffff;
    --listHeaderBackgroundHovered: #f4f4f4;
    --listHeaderBackgroundPressed: #eaeaea;
    --listItemBackgroundChecked: #eaeaea;
    --listItemBackgroundCheckedHovered: #dadada;
    --listItemBackgroundHovered: #f4f4f4;
    --listText: #333333;
    --listTextColor: #333333;
    --magenta: #b4009e;
    --magentaDark: #5c005c;
    --magentaLight: #e3008c;
    --menuBackground: #ffffff;
    --menuDivider: #c8c8c8;
    --menuHeader: #0078d4;
    --menuIcon: #0078d4;
    --menuItemBackgroundChecked: #eaeaea;
    --menuItemBackgroundHovered: #f4f4f4;
    --menuItemBackgroundPressed: #eaeaea;
    --menuItemText: #333333;
    --menuItemTextHovered: #212121;
    --ms-font-large-MozOsxFontSmoothing: "[theme:ms-font-large-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-large-WebkitFontSmoothing: "[theme:ms-font-large-WebkitFontSmoothing, default: antialiased]";
    --ms-font-large-fontFamily: "[theme:ms-font-large-fontFamily, default: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-large-fontSize: "[theme:ms-font-large-fontSize, default: 17px]";
    --ms-font-large-fontWeight: "[theme:ms-font-large-fontWeight, default: 300]";
    --ms-font-medium-MozOsxFontSmoothing: "[theme:ms-font-medium-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-medium-WebkitFontSmoothing: "[theme:ms-font-medium-WebkitFontSmoothing, default: antialiased]";
    --ms-font-medium-fontFamily: "[theme:ms-font-medium-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-medium-fontSize: "[theme:ms-font-medium-fontSize, default: 14px]";
    --ms-font-medium-fontWeight: "[theme:ms-font-medium-fontWeight, default: 400]";
    --ms-font-mediumPlus-MozOsxFontSmoothing: "[theme:ms-font-mediumPlus-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-mediumPlus-WebkitFontSmoothing: "[theme:ms-font-mediumPlus-WebkitFontSmoothing, default: antialiased]";
    --ms-font-mediumPlus-fontFamily: "[theme:ms-font-mediumPlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-mediumPlus-fontSize: "[theme:ms-font-mediumPlus-fontSize, default: 15px]";
    --ms-font-mediumPlus-fontWeight: "[theme:ms-font-mediumPlus-fontWeight, default: 400]";
    --ms-font-mega-MozOsxFontSmoothing: "[theme:ms-font-mega-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-mega-WebkitFontSmoothing: "[theme:ms-font-mega-WebkitFontSmoothing, default: antialiased]";
    --ms-font-mega-fontFamily: "[theme:ms-font-mega-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-mega-fontSize: "[theme:ms-font-mega-fontSize, default: 72px]";
    --ms-font-mega-fontWeight: "[theme:ms-font-mega-fontWeight, default: 100]";
    --ms-font-small-MozOsxFontSmoothing: "[theme:ms-font-small-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-small-WebkitFontSmoothing: "[theme:ms-font-small-WebkitFontSmoothing, default: antialiased]";
    --ms-font-small-fontFamily: "[theme:ms-font-small-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-small-fontSize: "[theme:ms-font-small-fontSize, default: 12px]";
    --ms-font-small-fontWeight: "[theme:ms-font-small-fontWeight, default: 400]";
    --ms-font-smallPlus-MozOsxFontSmoothing: "[theme:ms-font-smallPlus-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-smallPlus-WebkitFontSmoothing: "[theme:ms-font-smallPlus-WebkitFontSmoothing, default: antialiased]";
    --ms-font-smallPlus-fontFamily: "[theme:ms-font-smallPlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-smallPlus-fontSize: "[theme:ms-font-smallPlus-fontSize, default: 13px]";
    --ms-font-smallPlus-fontWeight: "[theme:ms-font-smallPlus-fontWeight, default: 400]";
    --ms-font-superLarge-MozOsxFontSmoothing: "[theme:ms-font-superLarge-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-superLarge-WebkitFontSmoothing: "[theme:ms-font-superLarge-WebkitFontSmoothing, default: antialiased]";
    --ms-font-superLarge-fontFamily: "[theme:ms-font-superLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-superLarge-fontSize: "[theme:ms-font-superLarge-fontSize, default: 42px]";
    --ms-font-superLarge-fontWeight: "[theme:ms-font-superLarge-fontWeight, default: 100]";
    --ms-font-tiny-MozOsxFontSmoothing: "[theme:ms-font-tiny-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-tiny-WebkitFontSmoothing: "[theme:ms-font-tiny-WebkitFontSmoothing, default: antialiased]";
    --ms-font-tiny-fontFamily: "[theme:ms-font-tiny-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-tiny-fontSize: "[theme:ms-font-tiny-fontSize, default: 10px]";
    --ms-font-tiny-fontWeight: "[theme:ms-font-tiny-fontWeight, default: 600]";
    --ms-font-xLarge-MozOsxFontSmoothing: "[theme:ms-font-xLarge-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-xLarge-WebkitFontSmoothing: "[theme:ms-font-xLarge-WebkitFontSmoothing, default: antialiased]";
    --ms-font-xLarge-fontFamily: "[theme:ms-font-xLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-xLarge-fontSize: "[theme:ms-font-xLarge-fontSize, default: 21px]";
    --ms-font-xLarge-fontWeight: "[theme:ms-font-xLarge-fontWeight, default: 100]";
    --ms-font-xLargePlus-MozOsxFontSmoothing: "[theme:ms-font-xLargePlus-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-xLargePlus-WebkitFontSmoothing: "[theme:ms-font-xLargePlus-WebkitFontSmoothing, default: antialiased]";
    --ms-font-xLargePlus-fontFamily: "[theme:ms-font-xLargePlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-xLargePlus-fontSize: "[theme:ms-font-xLargePlus-fontSize, default: 21px]";
    --ms-font-xLargePlus-fontWeight: "[theme:ms-font-xLargePlus-fontWeight, default: 100]";
    --ms-font-xSmall-MozOsxFontSmoothing: "[theme:ms-font-xSmall-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-xSmall-WebkitFontSmoothing: "[theme:ms-font-xSmall-WebkitFontSmoothing, default: antialiased]";
    --ms-font-xSmall-fontFamily: "[theme:ms-font-xSmall-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-xSmall-fontSize: "[theme:ms-font-xSmall-fontSize, default: 11px]";
    --ms-font-xSmall-fontWeight: "[theme:ms-font-xSmall-fontWeight, default: 400]";
    --ms-font-xxLarge-MozOsxFontSmoothing: "[theme:ms-font-xxLarge-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-xxLarge-WebkitFontSmoothing: "[theme:ms-font-xxLarge-WebkitFontSmoothing, default: antialiased]";
    --ms-font-xxLarge-fontFamily: "[theme:ms-font-xxLarge-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-xxLarge-fontSize: "[theme:ms-font-xxLarge-fontSize, default: 28px]";
    --ms-font-xxLarge-fontWeight: "[theme:ms-font-xxLarge-fontWeight, default: 100]";
    --ms-font-xxLargePlus-MozOsxFontSmoothing: "[theme:ms-font-xxLargePlus-MozOsxFontSmoothing, default: grayscale]";
    --ms-font-xxLargePlus-WebkitFontSmoothing: "[theme:ms-font-xxLargePlus-WebkitFontSmoothing, default: antialiased]";
    --ms-font-xxLargePlus-fontFamily: "[theme:ms-font-xxLargePlus-fontFamily, default: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif]";
    --ms-font-xxLargePlus-fontSize: "[theme:ms-font-xxLargePlus-fontSize, default: 28px]";
    --ms-font-xxLargePlus-fontWeight: "[theme:ms-font-xxLargePlus-fontWeight, default: 100]";
    --neutralDark: #212121;
    --neutralLight: #eaeaea;
    --neutralLighter: #f4f4f4;
    --neutralLighterAlt: #f8f8f8;
    --neutralPrimary: #333333;
    --neutralPrimaryAlt: #3c3c3c;
    --neutralQuaternary: #d0d0d0;
    --neutralQuaternaryAlt: #dadada;
    --neutralSecondary: #666666;
    --neutralSecondaryAlt: #767676;
    --neutralTertiary: #a6a6a6;
    --neutralTertiaryAlt: #c8c8c8;
    --orange: #d83b01;
    --orangeLight: #ea4300;
    --orangeLighter: #ff8c00;
    --primaryBackground: #ffffff;
    --primaryButtonBackground: #0078d4;
    --primaryButtonBackgroundDisabled: #f4f4f4;
    --primaryButtonBackgroundHovered: #106ebe;
    --primaryButtonBackgroundPressed: #005a9e;
    --primaryButtonBorder: transparent;
    --primaryButtonText: #ffffff;
    --primaryButtonTextDisabled: #d0d0d0;
    --primaryButtonTextHovered: #ffffff;
    --primaryButtonTextPressed: #ffffff;
    --primaryText: #333333;
    --purple: #5c2d91;
    --purpleDark: #32145a;
    --purpleLight: #b4a0ff;
    --red: #e81123;
    --redDark: #a80000;
    --roundedCorner2: 0px;
    --smallInputBorder: #666666;
    --successBackground: rgba(186, 216, 10, .2);
    --successText: #107C10;
    --suiteBarBackground: #0078d4;
    --suiteBarDisabledText: #eaeaea;
    --suiteBarText: #ffffff;
    --teal: #008272;
    --tealDark: #004b50;
    --tealLight: #00b294;
    --themeAccent: #0078d4;
    --themeAccentTranslucent10: rgba(0, 120, 212, 0.10);
    --themeDark: #005a9e;
    --themeDarkAlt: #106ebe;
    --themeDarker: #004578;
    --themeLight: #c7e0f4;
    --themeLighter: #deecf9;
    --themeLighterAlt: #eff6fc;
    --themePrimary: #0078d4;
    --themeSecondary: #2b88d8;
    --themeTertiary: #71afe5;
    --topBarBackground: rgba(234, 234, 234, 0.78);
    --topBarHoverText: #333333;
    --topBarText: #666666;
    --variantBorder: #eaeaea;
    --variantBorderHovered: #a6a6a6;
    --warningBackground: rgba(255, 185, 0, .2);
    --warningHighlight: #ffb900;
    --warningText: #333333;
    --white: #ffffff;
    --whiteTranslucent40: rgba(255, 255, 255, 0.40);
    --yellow: #ffb900;
    --yellowDark: #d29200;
    --yellowLight: #fff100;
}
